#container
  #mission
    Inspired by #{link_to 'Design that Matters\'', 'http://www.designthatmatters.org/', target: '_blank'} Firefly Infant phototheray device, Datawings strives to empower organizations to provide health centers in limited resource settings with high impact medical equipment that works.
  %figure
    = image_tag 'firefly.jpg', {size: '440'}
    %figcaption Design that Matter's Firefly Infant phototheray device treats new borns with Jaundice
  %figure
    = link_to 'assets/diagram.jpg', target: '_blank' do
      = image_tag 'diagram.jpg', {size: '440'}
    %figcaption A high-level overview of how Datawings works.


