#container
  %h1 Many Thanks
  Design that Matters (DtM) is a non-profit that brings technology to the developing world through the power of design. We work with hundreds volunteers in academia and industry to bring new products to life. Design that Matters thanks these collaborators who helped us imagine the possibilities if Firefly joined the Internet of Things.
  #images
    %figure
      = image_tag 'galia.jpg',{size: '440'}
      %figcaption
        Thank you to Galia Traub, DtM's superstar volunteer who tackled the software side of this project as part of the Harvard course
        %a{href: 'http://www.extension.harvard.edu/courses/creative-explorations-screen-based-physical-computing'}
          Creative Explorations in Screen-Based and Physical Computing
        and originally as part of DtM's team at
        %a{href: 'http://grandhackfest.wordpress.com'}
          Healthcare's Grand Hackfest
        Thanks also to Harvard course instructors Bakhtiar Mikhak and Alec Resnick for their guidance and support.
    %figure
      = image_tag 'david.jpg',{size: '440'}
      %figcaption
        Thank you to David Solomon, DtM's superstar co-op from Northeastern University who tackled the hardware side. David created a demo that uses arduino and a GSM module to format sensor data and send it via SMS to Galia's software. Marvels never cease!
    %p
      /= image_tag ''
      Thanks also to the members of DtM's team at Healthcare's Grand Hackfest.
      /In order from left to right:
      %ul
        %li Katherine Woodward, Candidate B.A. Political Science, Boston College
        %li Katerina Mantzavinou, PhD Candidate Medical Engineering-Medical Physics, MIT
        %li James Fox, Co-Founder & CEO, Obz Design
        %li Galia Traub, Senior Software Engineer, Harvard Medical School
        %li Bryan Ranger, PhD Candidate Biomechatronics, MIT Media Lab
        %li Emmanual Mensah, MD/MBA Candidate Harvard Medical School/Harvard Business School
        %li Hari Iyer, Software Engineer, MediaMath
        %li Karthik Mukund, Director of Project Management, eClinicalWorks
        %li Paul Franzosa, Senior Engineer, Bose